<h1>Elenco dei Corsi</h1>

@for (int i = 0; i<10; i++) {
<div class="row gx-5">
    <div class="col-md-1">
         <img src="~/logo.png" width="50" height="50" class="d-inline-block align-top" alt="logo" loading="lazy">
     </div>
    <div class="col-md-5">
          <h2>Titolo del corso</h2>
          <author>Nome Autore</author>
    </div>
    <div class="col-md-2">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
    </div>
    <div class="col-md-2">
      EUR 10,99<br /><s>12,99</s>
    </div>
    <div class="col-md-2">
        <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="5">Dettaglio Corso 5</a>
    </div>
  </div>
}



